<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
.content {
    max-width: 500px;
    margin: auto;
}
</style>
</head>
<body>
<nav class="navbar nav-tabs">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../static/uiplogo.jpeg" width="40px"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Usuario {{ nombre }}</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
    </ul>
  </div>
</nav>
<div class="container">
        {% if session['logged_in'] %}
    <table class="table">
    <thead>
    <tr>
        <th>Estudiante</th>
        <th>Asistencia</th>
    </tr>
    </thead>
        <tbody>
        {% for estudiantes in estudiante %}

          <tr>
              <td>{{ estudiantes.nom_estudiante }}</td>
              {% if estudiantes.asistencia == 'asistio' %}
              <td><span class="glyphicon glyphicon-ok"></span></td>
              {% endif %}
          </tr>

        {% endfor %}
                  </tbody>
    </table>
        {% endif %}
</div>
</body>
</html>